﻿@using JAIME_Back.Models;
@model List<EntregasDineroViewModel>
<!-- Page Wrapper -->
<div id="wrapper">
    @{
        Html.RenderPartial("_Sidebar");
    }
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            @{
                Html.RenderPartial("_Topbar");
            }
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Entregas de dinero de deliveries</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generar reporte</a>
                </div>

                @*FILTROS*@
                <div style="width:70%; padding:10px; border-radius:5px; border-radius: 0.35rem; box-shadow:0 0 .625em #d9d9d9; margin-bottom:10px;" class="card-header;">
                    <h6>Filtrar entregas</h6>
                    <div style="display:flex; justify-content:space-around;">
                        <div class="form-group mb-4">
                            <div class="datepicker date input-group p-0 shadow-sm">
                                <input type="text" placeholder="Fecha desde" class="form-control" id="filtro-fecha-desde">
                                <div class="input-group-append"><span class="input-group-text px-3"><i class="fa fa-calendar"></i></span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="datepicker date input-group p-0 shadow-sm">
                                <input type="text" placeholder="Fecha hasta" class="form-control" id="filtro-fecha-hasta">
                                <div class="input-group-append"><span class="input-group-text px-3"><i class="fa fa-calendar"></i></span></div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content:flex-end">
                        <a id="btnFiltrar" class="btn btn-primary" style="display:flex; justify-content:space-around; margin-right:0%; margin-left:87%; width:10%; color:white; border-radius: 0.35rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;">Filtrar</a>
                        <a id="btnLimpiar" class="btn btn-danger" style="display:flex; justify-content:space-around; color:white; vertical-align:central; align-items:baseline; margin-left:8px;"><span class=" px-1"><i class="fa fa-trash"></i></span></a>
                    </div>
                </div>

                <!-- DataTables Example -->
                <div class="card shadow mb-2" style="width:70%">
                    <div class="card-header py-3" style="background-color:black; background-image:linear-gradient(to bottom, black, gray 95%);">
                        <div style="display:flex; justify-content:space-between; align-items:baseline; margin-top:8px; margin-bottom:8px;">
                            <h6 class="m-0 font-weight-bold" style="color:white;">Todos los pedidos</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th>Id pedido</th>
                                        <th>Delivery</th>
                                        <th>A cobrar</th>
                                        <th style="background-color:burlywood; color:white;">Entrega</th>
                                        <th style="background-color:burlywood; color:white;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        string color = "";
                                        if (item.DineroEntregado == item.TotalPedido)
                                        {
                                            color = "#c2ffcb";
                                        }
                                        <tr style="background-color:@color">
                                            <td>@item.IdPedido</td>
                                            <td>@item.Delivery</td>
                                            <td>@item.Cobranza</td>
                                            <td>
                                                <div class="form-group mb-4">
                                                    <div class="input-group p-0 shadow-sm" style="border-radius:16px;">
                                                        <input id="entrega-@item.IdPedido" type="text" value="0" class="form-control">
                                                        <div class="input-group-append"><span class="input-group-text px-3" style="background-color:burlywood;"><a class="guardar-entrega" data-idpedido="@item.IdPedido"><i class="fa fa-plus-circle" style="background-color:burlywood; color:white"></i></a></span></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>@item.TotalPedido</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; JAIME BACK - @DateTime.Now.Year</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">¿Estás seguro que querés cerrar sesión?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="@Url.Action("LogOff", "Account")">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
    $(document).ready(function () {
        //Pre cargo filtros
        $('#filtro-fecha-desde').val('@ViewBag.fechaDesde');
        $('#filtro-fecha-hasta').val('@ViewBag.fechaHasta');
        $('.guardar-entrega').click(function () {
            let options = {};
            let data = {};
            data.idPedido = $(this).attr('data-idpedido');
            let idInput = '#entrega-' + data.idPedido;
            data.entrega = $(idInput.toString()).val();
            options.url = "/Coordinador/GuardarEntrega";
            options.type = "POST";
            options.data = JSON.stringify({ "data": data });
            options.dataType = "json";
            options.contentType = "application/json";
            options.success = function (response) {
                if (response.exito != undefined && response.exito == true) {
                    Swal.fire({
                        title: '¡Entrega guardada correctamente!',
                        icon: 'success',
                        confirmButtonColor: 'black',
                        backdrop: `
                            rgba(9, 206, 45, 0.6)
                            `
                    }).then((avanzar) => {
                        if (avanzar.value) {
                            location.reload();
                        }
                    });
                }
                else {
                    Swal.fire({
                        title: '¡Ups! Ha ocurrido un error..',
                        icon: 'error',
                        confirmButtonColor: 'black',
                        text: response.message,
                        backdrop: `
                                rgba(206, 9, 9, 0.6)
                                `
                    });
                }
            };
            options.error = function (err) {
                Swal.fire({
                    title: '¡Ups! Ha ocurrido un error..',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'No se pudo guardar la entrega. Intentá nuevamente más tarde',
                    backdrop: `
                                rgba(206, 9, 9, 0.6)
                                `
                });
            };
            $.ajax(options);
        });

        $('#btnFiltrar').click(function () {
            if ($('#filtro-fecha-desde').val() == "" && $('#filtro-fecha-hasta').val() != "" || $('#filtro-fecha-desde').val() != "" && $('#filtro-fecha-hasta').val() == "") {
                Swal.fire({
                    title: '¡Filtros incompletos!',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'El rango de fecha tiene un formato incorrecto. Por favor, complete ambas fechas para filtrar por ellas.',
                    backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                });
            }
            else {
                let avanzar = false;
                if ($('#filtro-fecha-desde').val() != "") {
                    if ($('#filtro-fecha-desde').val() <= $('#filtro-fecha-hasta').val()) {
                        avanzar = true;
                    }
                    else {
                        Swal.fire({
                            title: '¡Filtros incorrectos!',
                            icon: 'error',
                            confirmButtonColor: 'black',
                            text: 'La fecha de filtrado inicial es superior a la fecha final. Por favor, asegurate que la fecha inicial sea menor a la final.',
                            backdrop: `
                                    rgba(206, 9, 9, 0.6)
                                    `
                        });
                        avanzar = false;
                    }
                }
                else {
                    avanzar = true;
                }
                if (avanzar) {
                    let fechaDesde = $('#filtro-fecha-desde').val();
                    let fechaHasta = $('#filtro-fecha-hasta').val();
                    window.location.href = '/Coordinador/EntregasDineroDelivery?fechaDesde=' + fechaDesde + '&' + 'fechaHasta=' + fechaHasta;
                }
            }
        });

        $('#btnLimpiar').click(function () {
            window.location.href = "/Coordinador/EntregasDineroDelivery";
        });
        // INITIALIZE DATEPICKER PLUGIN
        $('.datepicker').datepicker({
            clearBtn: true,
            format: "dd/mm/yyyy"
        });
    });

</script>
