﻿@using JAIME_Back.Models;
@model AsignarMediosPagoViewModel
<!-- Page Wrapper -->
<div id="wrapper">
    @{
        Html.RenderPartial("_Sidebar");
    }
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            @{
                Html.RenderPartial("_Topbar");
            }
            <!-- COMIENZO CONTENIDO DINAMICO -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Pedidos</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generar reporte</a>
                </div>

                <!--PEGADO DE ONIX-->
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <!--Panel contenedor-->
                        <div class="single category" style="padding:12px;">
                            <div class="row">
                                <div class="col-sm-9 col-md-9">
                                    <div class="card">
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <!--FORMULARIO DE UN PEDIDO-->
                                            <div class="form-group">
                                                <h5>Asignar medios de pago a comercios</h5>
                                                <hr />
                                                <div class="row" style="margin-bottom:0px;">
                                                    <div class="col-lg-4" style="margin-bottom:15px;">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Elegí un comercio</label>
                                                        <select id="drop-comercio" class="form-control">
                                                            @{
                                                                <option value="seleccione" disabled selected>-Seleccione comercio-</option>
                                                                foreach (var item in Model.ListaComercios)
                                                                {
                                                                    <option value="@item.Id">@item.NombreFantasia</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-bottom:0px;">
                                                    <div class="col-lg-12" style="margin-bottom:15px;">
                                                        <label class="u-font-size-90" style="margin-bottom:0px; display:inline-block">Seleccione los medios de pago admitidos por el comercio</label>
                                                        <hr style="margin-top:3px" />
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px; margin-bottom:16px; text-align:left; vertical-align:central">
                                                            <input type="checkbox" class="custom-control-input" id="mediopago-debito" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="mediopago-debito" for="mediopago-debito">@MediosPago.Debito</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px; margin-bottom:16px; text-align:left; vertical-align:central">
                                                            <input type="checkbox" class="custom-control-input" id="mediopago-credito" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="mediopago-credito" for="mediopago-credito">@MediosPago.Credito</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px; margin-bottom:16px; text-align:left; vertical-align:central">
                                                            <input type="checkbox" class="custom-control-input" id="mediopago-efectivo" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="mediopago-efectivo" for="mediopago-efectivo">@MediosPago.Efectivo</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px; margin-bottom:16px; text-align:left; vertical-align:central">
                                                            <input type="checkbox" class="custom-control-input" id="mediopago-mercadopago" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="mediopago-mercadopago" for="mediopago-mercadopago">@MediosPago.MercadoPago</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox mb-2" style="margin-left: 0px; margin-bottom:16px; text-align:left; vertical-align:central">
                                                            <input type="checkbox" class="custom-control-input" id="mediopago-transferencia" checked="">
                                                            <label class="custom-control-label u-font-size-90" id="mediopago-transferencia" for="mediopago-transferencia">@MediosPago.Transferencia</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--FIN PEDIDO-->
                                            <div style="display:flex; justify-content:space-between">
                                                <div style="justify-content:flex-end">
                                                    <a class="btn btn-success" id="btnGuardarMedioPago" style="margin-top:15px; color:white">Guardar medios de pago</a>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- End Card Body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">¿Estás seguro que querés cerrar sesión?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="@Url.Action("LogOff", "Account")">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
    $(document).ready(function () {
        //////Cargo medio de pago//////
        $('#btnGuardarMedioPago').click(function () {
            if ($('#drop-comercio').val() != null) {
                let debito = false; let credito = false; let mercadopago = false; let efectivo = false; let transferencia = false;
                if ($('#mediopago-debito').is(':checked')) {
                    debito = true;
                }
                if ($('#mediopago-credito').is(':checked')) {
                    credito = true;
                }
                if ($('#mediopago-mercadopago').is(':checked')) {
                    mercadopago = true;
                }
                if ($('#mediopago-efectivo').is(':checked')) {
                    efectivo = true;
                }
                if ($('#mediopago-transferencia').is(':checked')) {
                    transferencia = true;
                }
                var options = {};
                let data = {};
                data.AceptaDebito = debito;
                data.AceptaCredito = credito;
                data.AceptaMercadopago = mercadopago;
                data.AceptaEfectivo = efectivo;
                data.AceptaTransferencia = transferencia;
                data.idComercio = $('#drop-comercio').val();
                options.url = "/BackOffice/GuardarMediosPago";
                options.type = "POST";
                options.data = JSON.stringify({ "data": data });
                options.dataType = "json";
                options.contentType = "application/json";
                options.success = function (response) {
                    Swal.fire({
                        title: '¡Medios de pago guardados correctamente!',
                        icon: 'success',
                        confirmButtonColor: 'black',
                        text: response.message,
                        backdrop: `
                                    rgba(9, 206, 45, 0.6)
                                    `
                    });
                };
                options.error = function (err) {
                    Swal.fire({
                        title: '¡Ups! Ha ocurrido un error..',
                        icon: 'error',
                        confirmButtonColor: 'black',
                        text: 'No se pudieron guardar los medios de pago. Intentá nuevamente más tarde',
                        backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                    });
                };
                $.ajax(options);
            } else {
                Swal.fire({
                    title: '¡No has seleccionado ningún comercio!',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                });
            }
        });
    });
</script>