﻿@using JAIME_Back.Models;
@model BackOfficeViewModel
<!-- Page Wrapper -->
<div id="wrapper">
    @{
        Html.RenderPartial("_Sidebar");
    }
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            @{
                Html.RenderPartial("_Topbar");
            }
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Pedidos</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generar reporte</a>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ganancias (mensuales)</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Ganancias (anuales)</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Envíos</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pedidos pendientes</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*FILTROS*@
                <div style="border-radius:5px; border-radius: 0.35rem; box-shadow:0 0 .625em #d9d9d9; margin-bottom:10px;" class="card-header">
                    <h6>Filtrar pedidos</h6>
                    <div style="display:flex; justify-content:space-around;">
                        <div class="form-group mb-4">
                            <div class="datepicker date input-group p-0 shadow-sm">
                                <input type="text" placeholder="Fecha desde" class="form-control" id="filtro-fecha-desde">
                                <div class="input-group-append"><span class="input-group-text px-3"><i class="fa fa-calendar"></i></span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="datepicker date input-group p-0 shadow-sm">
                                <input type="text" placeholder="Fecha hasta" class="form-control" id="filtro-fecha-hasta">
                                <div class="input-group-append"><span class="input-group-text px-3"><i class="fa fa-calendar"></i></span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="input-group p-0 shadow-sm" style="border-radius:16px;">
                                <input type="text" placeholder="Cliente" class="form-control" id="filtro-cliente">
                                <div class="input-group-append"><span class="input-group-text px-3"><i class="fa fa-user"></i></span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="input-group p-0 shadow-sm" style="border-radius:16px;">
                                <select type="text" class="form-control" id="filtro-comercio">
                                    <option selected value="Todos">-Todos-</option>
                                    @{
                                        foreach (var comercio in Model.ListaComercios)
                                        {
                                            <option value="@comercio.Id">@comercio.NombreFantasia.Trim()</option>
                                        }
                                    }
                                </select>
                                <div class="input-group-append"><span class="input-group-text px-3"><i class="fa fa-store"></i></span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="input-group p-0 shadow-sm" style="border-radius:16px;">
                                <select type="text" class="form-control" id="filtro-estado">
                                    <option selected value="Todos">-Todos-</option>
                                    <option value="@EstadosPedidos.SinConfirmar">@EstadosPedidos.SinConfirmar.Trim()</option>
                                    <option value="@EstadosPedidos.Confirmado">@EstadosPedidos.Confirmado.Trim()</option>
                                    <option value="@EstadosPedidos.EnCamino">@EstadosPedidos.EnCamino.Trim()</option>
                                    <option value="@EstadosPedidos.Retirado">@EstadosPedidos.Retirado.Trim()</option>
                                    <option value="@EstadosPedidos.Entregado">@EstadosPedidos.Entregado.Trim()</option>
                                    <option value="@EstadosPedidos.Cancelado">@EstadosPedidos.Cancelado.Trim()</option>
                                </select>
                                <div class="input-group-append"><span class="input-group-text px-3"><i class="fa fa-box"></i></span></div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content:flex-end">
                        <a id="btnFiltrar" class="btn btn-primary" style="display:flex; justify-content:space-around; margin-right:0%; margin-left:87%; width:10%; color:white; border-radius: 0.35rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;">Filtrar</a>
                        <a id="btnLimpiar" class="btn btn-danger" style="display:flex; justify-content:space-around; color:white; vertical-align:central; align-items:baseline; margin-left:8px;"><span class=" px-1"><i class="fa fa-trash"></i></span></a>
                    </div>
                </div>

                <!-- DataTables Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="background-color:black; background-image:linear-gradient(to bottom, black, gray 95%);">
                        <div style="display:flex; justify-content:space-between; align-items:baseline; margin-top:8px; margin-bottom:8px;">
                            <h6 class="m-0 font-weight-bold" style="color:white;">Todos los pedidos</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Horario</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th>Medio pago</th>
                                        <th>Precio</th>
                                        <th>Estado</th>
                                        <th><i class="fa fa-info-circle"></i></th>
                                        <th><i class="fa fa-map-marked"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var pedido in Model.ListaPedidos)
                                    {
                                        string color = "";
                                        if (pedido.Estado == EstadosPedidos.Confirmado)
                                        {
                                            color = "#fff2c2";
                                        }
                                        if (pedido.Estado == EstadosPedidos.Cancelado)
                                        {
                                            color = "#ffc2c2";
                                        }
                                        if (pedido.Estado == EstadosPedidos.EnCamino)
                                        {
                                            color = "#c2daff";
                                        }
                                        if (pedido.Estado == EstadosPedidos.Entregado)
                                        {
                                            color = "#c2ffcb";
                                        }
                                        if (pedido.Estado == EstadosPedidos.Retirado)
                                        {
                                            color = "#c2daff";
                                        }
                                        <tr style="background-color:@color">
                                            <td>@Convert.ToDateTime(pedido.Fecha).ToShortDateString()</td>
                                            <td>@Model.ListaComercios.Where(x => x.Id == pedido.IdComercio).FirstOrDefault().NombreFantasia</td>
                                            <td>@pedido.Horario</td>
                                            <td>@pedido.Direccion</td>
                                            <td>@pedido.Telefono</td>
                                            <td>@pedido.MedioPago</td>
                                            <td>@pedido.Monto</td>
                                            <td>
                                                <div class="form-group" style="margin:0px">
                                                    <select class="form-control drop-pedidos" id="pedido-@pedido.Id" data-monto="@pedido.Monto" data-iddelivery="@pedido.IdDelivery" data-fecha="@pedido.Fecha" data-mediopago="@pedido.MedioPago" style="border-radius: 18px;">
                                                        @if (pedido.Estado == EstadosPedidos.SinConfirmar)
                                                        {
                                                            <option selected>@EstadosPedidos.SinConfirmar</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.SinConfirmar</option>
                                                        }
                                                        @if (pedido.Estado == EstadosPedidos.Confirmado)
                                                        {
                                                            <option selected>@EstadosPedidos.Confirmado</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.Confirmado</option>
                                                        }
                                                        @if (pedido.Estado == EstadosPedidos.EnCamino)
                                                        {
                                                            <option selected>@EstadosPedidos.EnCamino</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.EnCamino</option>
                                                        }
                                                        @if (pedido.Estado == EstadosPedidos.Retirado)
                                                        {
                                                            <option selected>@EstadosPedidos.Retirado</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.Retirado</option>
                                                        }
                                                        @if (pedido.Estado == EstadosPedidos.Entregado)
                                                        {
                                                            <option selected>@EstadosPedidos.Entregado</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.Entregado</option>
                                                        }
                                                        @if (pedido.Estado == EstadosPedidos.Cancelado)
                                                        {
                                                            <option selected>@EstadosPedidos.Cancelado</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.Cancelado</option>
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="info-pedido" data-id="@pedido.Id" style="vertical-align:central"><i style="color:blue; vertical-align:central; text-align:center" class="fa fa-info-circle"></i></td>
                                            @if (pedido.Ubicacion != null)
                                            {
                                                <td id="mapa-@pedido.Id" class="mapa" style="vertical-align:central"><i style="color:red; vertical-align:central; text-align:center" class="fa fa-map-marked"></i></td>
                                            }
                                            else
                                            {
                                                <td id="mapa-@pedido.Id" class="mapa" style="vertical-align:central"><i style="vertical-align:central; text-align:center" class="fa fa-map"></i></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; JAIME - @DateTime.Now.Year</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">¿Estás seguro que querés cerrar sesión?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="@Url.Action("LogOff", "Account")">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>
<select id="comerciosSinHorarios" style="display:none">
    @{ 
        foreach (var item in Model.ComerciosSinHorarios)
        {
            <option>@item.NombreFantasia</option>
        }
    }
</select>
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
    $(document).ready(function () {
        setTimeout(() => {
            Swal.fire({
                title: 'Actualizando..',
                showCancelButton: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                }
            });
            location.reload(true);
            swal.close();
        }, 30000);
        if ('@Model.ComerciosSinHorarios.Count()' > 0) {
            let comerciosMostrar = "";
            let lastValue = $('#comerciosSinHorarios option:last-child').val();
            $("#comerciosSinHorarios > option").each(function () {
                if (lastValue == $(this).val()) {
                    comerciosMostrar += $(this).val();
                } else {
                    comerciosMostrar += $(this).val() + "<br/>";
                }
            });      
            Swal.fire({
                title: 'Tenés comercios sin días y horarios asignados:',
                icon: 'warning',
                html: comerciosMostrar,
                confirmButtonColor: 'black',
                text: 'Por favor, agregalos en la sección "Asignar días y horarios" para que puedan recibir pedidos.',
                backdrop: `
                        rgba(206, 9, 9, 0.6)
                        `
            });
        }

        $('#filtro-fecha-desde').val('@ViewBag.fechaDesde')
        $('#filtro-fecha-hasta').val('@ViewBag.fechaHasta')
        $('#filtro-cliente').val('@ViewBag.cliente');
        if ('@ViewBag.comercio' != "" && '@ViewBag.comercio' != null) {
            $('#filtro-comercio').val('@ViewBag.comercio');
        }
        if ('@ViewBag.estado' != "" && '@ViewBag.estado' != null) {
            $('#filtro-estado').val('@ViewBag.estado');
        }

        $('.info-pedido').click(function () {
            let idPedido = $(this).attr('data-id');
            window.location.href = '/Pedidos/DetallePedido?idPedido=' + idPedido;
        });

        $('#btnFiltrar').click(function () {
            if ($('#filtro-fecha-desde').val() == "" && $('#filtro-fecha-hasta').val() != "" || $('#filtro-fecha-desde').val() != "" && $('#filtro-fecha-hasta').val() == "") {
                Swal.fire({
                    title: '¡Filtros incompletos!',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'El rango de fecha tiene un formato incorrecto. Por favor, complete ambas fechas para filtrar por ellas.',
                    backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                });
            }
            else {
                let avanzar = false;
                if ($('#filtro-fecha-desde').val() != "") {
                    if ($('#filtro-fecha-desde').val() <= $('#filtro-fecha-hasta').val()) {
                        avanzar = true;
                    }
                    else {
                        Swal.fire({
                            title: '¡Filtros incorrectos!',
                            icon: 'error',
                            confirmButtonColor: 'black',
                            text: 'La fecha de filtrado inicial es superior a la fecha final. Por favor, asegurate que la fecha inicial sea menor a la final.',
                            backdrop: `
                                    rgba(206, 9, 9, 0.6)
                                    `
                        });
                        avanzar = false;
                    }
                }
                else {
                    avanzar = true;
                }
                if (avanzar) {
                    let fechaDesde = $('#filtro-fecha-desde').val()
                    let fechaHasta = $('#filtro-fecha-hasta').val()
                    let cliente = $('#filtro-cliente').val().trim();
                    let comercio = $('#filtro-comercio').val().trim();
                    let estado = $('#filtro-estado').val().trim();
                    window.location.href = '/BackOffice/Index?fechaDesde=' + fechaDesde + '&' + 'fechaHasta=' + fechaHasta + '&' + 'cliente=' + cliente + '&' + 'comercio=' + comercio + '&' + 'estado=' + estado;
                }
            }
        });

        $('#btnLimpiar').click(function () {
            window.location.href = "/BackOffice/Index";
        });

        $('.mapa').click(function () {
            let idPedido = $(this).attr('id').split('-')[1];
            let ubicacionObtenida = null;
            //Compruebo si tiene mapa cargado
            let optionsObtener = {};
            optionsObtener.url = "/BackOffice/ObtenerUbicacion";
            optionsObtener.type = "POST";
            optionsObtener.data = JSON.stringify({ "idPedido": idPedido });
            optionsObtener.dataType = "json";
            optionsObtener.contentType = "application/json";
            optionsObtener.success = function (response) {
                if (response != undefined) {
                    ubicacionObtenida = response.ubi;
                }
                Swal.fire({
                    title: 'Colocá el HTML de Google Maps de la dirección',
                    html: ubicacionObtenida,
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    confirmButtonText: 'Aceptar',
                    showLoaderOnConfirm: true,
                    preConfirm: (urlMap) => {
                        let optionsGuardar = {};
                        let data = {};
                        data.idPedido = idPedido;
                        data.UrlMap = urlMap;
                        optionsGuardar.url = "/BackOffice/GuardarUbicacion";
                        optionsGuardar.type = "POST";
                        optionsGuardar.data = JSON.stringify({ "data": data });
                        optionsGuardar.dataType = "json";
                        optionsGuardar.contentType = "application/json";
                        optionsGuardar.success = function (response) {

                        };
                        optionsGuardar.error = function (err) {
                            Swal.fire({
                                title: '¡Ups! Ha ocurrido un error..',
                                icon: 'error',
                                confirmButtonColor: 'black',
                                text: 'No se pudo guardar el mapa. Intentá nuevamente más tarde',
                                backdrop: `
                                rgba(206, 9, 9, 0.6)
                                `
                            });
                        };
                        $.ajax(optionsGuardar);
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    if (result.value) {
                        Swal.fire({
                            title: 'Esta es la ubicación ingresada',
                            html: result.value,
                            width: 800
                        }).then(() => {
                            location.reload();
                        });
                    }
                });
            };
            optionsObtener.error = function (err) {
                Swal.fire({
                    title: '¡Ups! Ha ocurrido un error..',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'No se pudo obtener el mapa. Intentá nuevamente más tarde',
                    backdrop: `
                    rgba(206, 9, 9, 0.6)
                    `
                });
            };
            $.ajax(optionsObtener);
            //
        });

        $('.drop-pedidos').change(function () {
            let options = {};
            let data = {};
            data.idPedido = $(this).attr('id').split('-')[1];
            data.estadoPedido = $(this).val();
            data.medioPago = $(this).attr('data-mediopago');
            data.monto = $(this).attr('data-monto');
            data.idDelivery = $(this).attr('data-iddelivery');
            data.fecha = $(this).attr('data-fecha');
            options.url = "/BackOffice/GuardarEstadoPedido";
            options.type = "POST";
            options.data = JSON.stringify({ "data": data });
            options.dataType = "json";
            options.contentType = "application/json";
            options.success = function (response) {
                location.reload();
            };
            options.error = function (err) {
                Swal.fire({
                    title: '¡Ups! Ha ocurrido un error..',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'No se pudo guardar la url del mapa. Intentá nuevamente más tarde',
                    backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                });
            };
            if (data.estadoPedido == '@EstadosPedidos.Entregado' && data.idDelivery == "") {
                Swal.fire({
                    title: '¡Ups! Ha ocurrido un error..',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: '¡No puedes entregar un pedido sin asignar un delivery.. eso es imposible!',
                    backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                }).then((result) => {
                    if (result) {
                        location.reload()
                    }
                });
            }
            else {
                $.ajax(options);
            }
        });

        // INITIALIZE DATEPICKER PLUGIN
        $('.datepicker').datepicker({
            clearBtn: true,
            format: "dd/mm/yyyy"
        });
    });

</script>
