﻿@using JAIME_Back.Models
@model VerPedidosViewModel
<!-- Page Wrapper -->
<div id="wrapper">
    @{
        Html.RenderPartial("_Sidebar");
    }
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            @{
                Html.RenderPartial("_Topbar");
            }
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Pedidos</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generar reporte</a>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ganancias (mensuales)</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Ganancias (anuales)</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Envíos</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pedidos pendientes</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*FILTROS*@


                <!-- DataTables Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="background-color:black; background-image:linear-gradient(to bottom, black, gray 95%);">
                        <div style="display:flex; justify-content:space-between; align-items:baseline; margin-top:8px; margin-bottom:8px;">
                            <h6 class="m-0 font-weight-bold" style="color:white;">Todos los pedidos</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Horario</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th>Medio pago</th>
                                        <th>Precio</th>
                                        <th>Estado</th>
                                        <th><i class="fa fa-info-circle"></i></th>
                                        <th><i class="fa fa-map-marked"></i></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Horario</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th>Medio pago</th>
                                        <th>Precio</th>
                                        <th>Estado</th>
                                        <th><i class="fa fa-info-circle"></i></th>
                                        <th><i class="fa fa-map-marked"></i></th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    @foreach (var pedido in Model.Pedidos)
                                    {
                                        string color = "";
                                        if (pedido.Estado == EstadosPedidos.Confirmado)
                                        {
                                            color = "#fff2c2";
                                        }
                                        if (pedido.Estado == EstadosPedidos.Cancelado)
                                        {
                                            color = "#ffc2c2";
                                        }
                                        if (pedido.Estado == EstadosPedidos.EnCamino)
                                        {
                                            color = "#c2daff";
                                        }
                                        if (pedido.Estado == EstadosPedidos.Entregado)
                                        {
                                            color = "#c2ffcb";
                                        }
                                        if (pedido.Estado == EstadosPedidos.Retirado)
                                        {
                                            color = "#c2daff";
                                        }
                                        <tr style="background-color:@color">
                                            <td>@Convert.ToDateTime(pedido.Fecha).ToShortDateString()</td>
                                            <td>@pedido.Cliente</td>
                                            <td>@pedido.Horario</td>
                                            <td>@pedido.Direccion</td>
                                            <td>@pedido.Telefono</td>
                                            <td>@pedido.MedioPago</td>
                                            <td>@pedido.Monto</td>
                                            <td>
                                                <div class="form-group" style="margin:0px">
                                                    <select class="form-control drop-pedidos" id="pedido-@pedido.Id" style="border-radius: 18px;">
                                                        @if (pedido.Estado == EstadosPedidos.Entregado)
                                                        {
                                                            <option selected>@EstadosPedidos.Entregado</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.Entregado</option>
                                                        }
                                                        @if (pedido.Estado == EstadosPedidos.EnCamino)
                                                        {
                                                            <option selected>@EstadosPedidos.EnCamino</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.EnCamino</option>
                                                        }
                                                        @if (pedido.Estado == EstadosPedidos.Retirado)
                                                        {
                                                            <option selected>@EstadosPedidos.Retirado</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.Retirado</option>
                                                        }
                                                        @if (pedido.Estado == EstadosPedidos.Confirmado)
                                                        {
                                                            <option selected>@EstadosPedidos.Confirmado</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.Confirmado</option>
                                                        }
                                                        @if (pedido.Estado == EstadosPedidos.SinConfirmar)
                                                        {
                                                            <option selected>@EstadosPedidos.SinConfirmar</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.SinConfirmar</option>
                                                        }
                                                        @if (pedido.Estado == EstadosPedidos.Cancelado)
                                                        {
                                                            <option selected>@EstadosPedidos.Cancelado</option>
                                                        }
                                                        else
                                                        {
                                                            <option>@EstadosPedidos.Cancelado</option>
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                            <td id="info-@pedido.Id" style="vertical-align:central"><i style="color:blue; vertical-align:central; text-align:center" class="fa fa-info-circle"></i></td>
                                            @if (pedido.Ubicacion != null)
                                            {
                                                <td id="mapa-@pedido.Id" class="mapa" style="vertical-align:central"><i style="color:red; vertical-align:central; text-align:center" class="fa fa-map-marked"></i></td>
                                            }
                                            else
                                            {
                                                <td id="mapa-@pedido.Id" class="mapa" style="vertical-align:central"><i style="vertical-align:central; text-align:center" class="fa fa-map"></i></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">¿Estás seguro que querés cerrar sesión?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="@Url.Action("LogOff", "Account")">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
    $(document).ready(function () {
        $('.mapa').click(function () {
            let idPedido = $(this).attr('id').split('-')[1];
            Swal.fire({
                title: 'Colocá el HTML de Google Maps de la dirección',
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Aceptar',
                showLoaderOnConfirm: true,
                preConfirm: (urlMap) => {
                    let options = {};
                    let data = {};
                    data.idPedido = idPedido;
                    data.UrlMap = urlMap;
                    options.url = "/BackOffice/GuardarUbicacion";
                    options.type = "POST";
                    options.data = JSON.stringify({ "data": data });
                    options.dataType = "json";
                    options.contentType = "application/json";
                    options.success = function (response) {

                    };
                    options.error = function (err) {
                        Swal.fire({
                            title: '¡Ups! Ha ocurrido un error..',
                            icon: 'error',
                            confirmButtonColor: 'black',
                            text: 'No se pudo guardar la url del mapa. Intentá nuevamente más tarde',
                            backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                        });
                    };
                    $.ajax(options);
                },
                allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                if (result.value) {
                    Swal.fire({
                        title: 'Esta es la ubicación ingresada',
                        html: result.value,
                        width: 800
                    }).then(() => {
                        location.reload();
                    });
                }
            });
        });

        $('.drop-pedidos').change(function () {
            let options = {};
            let data = {};
            data.idPedido = $(this).attr('id').split('-')[1];
            data.estadoPedido = $(this).val();
            options.url = "/BackOffice/GuardarEstadoPedido";
            options.type = "POST";
            options.data = JSON.stringify({ "data": data });
            options.dataType = "json";
            options.contentType = "application/json";
            options.success = function (response) {
                location.reload();
            };
            options.error = function (err) {
                Swal.fire({
                    title: '¡Ups! Ha ocurrido un error..',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'No se pudo guardar la url del mapa. Intentá nuevamente más tarde',
                    backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                });
            };
            $.ajax(options);
        });
    });
</script>
