﻿<!--alerta-->
    <body class="bg-gradient-primary">
        <div class="alert text-white fade show" role="alert" id="emailEnviado" style="margin:20px; margin-top:0px;">
            <div class="d-flex">
                <div class="alert__icon mr-3">
                    <i class="fas fa-thumbs-up"></i>
                </div>
                
                <div class="align-self-center mr-3">¡Sólo un paso más! Por favor, ingresa al correo registrado y confirma tu cuenta.</div>

            </div>
        </div>
        <div style="display:flex; justify-content:space-around; height:100%; vertical-align:central; width:100%;">
            <img src="~/Content/img/JaimeLogo-ancho.png" style="height:600px;" />
        </div>
    </body>

@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script type="text/javascript">
    $(document).ready(function () {
        Swal.fire({
            title: '¡Confirmá que sos vos!',
            icon: 'success',
            confirmButtonColor: 'black',
            text: "Sólo un paso más.. comprobá el mail que te enviamos para poder realizar el cambio de contraseña!",
            backdrop: `
                    rgba(9, 206, 45, 0.6)
                    `
        });
    });
</script>

