﻿@model JAIME_Back.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¡Cambiemos a una contraseña privada y segura!";
}

<body style="overflow-x:hidden" class="bg-gradient-primary">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">@ViewBag.Title</h1>
                                        <p class="mb-4">Simplemente ingrese su dirección de correo con la que registró la cuenta para validar su cuenta</p>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            @*<input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Ingrese Email">*@
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Continuar" />
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="@Url.Action("Login","Account")">Volver al Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    }
</body>
