﻿@using JAIME_Back.Models
@model LoginViewModel
<body class="bg-gradient-primary">

    <div class="container">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Iniciar sesión</h1>
                                        </div>
                                        <form class="user">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", placeholder = "Email o nombre de usuario" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-user", placeholder = "Contraseña", type = "password" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                                    @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
                                                </div>
                                            </div>
                                        </form>
                                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Ingresar" />
                                        <hr>
                                        <a id="google" style="color:white;" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Ingresar con Google
                                        </a>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="@Url.Action("ForgotPassword","Account")">¿Olvidaste tu contraseña?</a>
                                        </div>

                                        @*<a href="@Url.Action("CrearAdministrador","Account")">Crear admin</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        }

    </div>

</body>
@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
    $(document).ready(function () {
        //Peticion AJAX verificando si el usuario no cambio su contraseña (emailConfirmed lo uso como cuenta confirmada)
        if ('@ViewBag.IsConfirmed' == 'False') {
            Swal.fire({
                title: 'Por motivos de seguridad, serás redirigido a cambiar tu contraseña',
                icon: 'info',
                confirmButtonColor: 'black',
                backdrop: `
                rgba(9, 110, 206, 0.6)
                `
            }).then((pulsaok) => {
                if (pulsaok) {
                    window.location.href = '@Url.Action("ForgotPassword", "Account")';
                }
            });
        }
        $('#google').click(function () {
            Swal.fire({
                title: '¡Proximamente! Estamos trabajando en eso..',
                icon: 'info',
                confirmButtonColor: 'black',
                backdrop: `
                rgba(9, 110, 206, 0.6)
                `
            });
        });
    });
</script>