﻿@{
    ViewBag.Title = "¡BIENVENIDO A JAIME!";
}

<body class="bg-gradient-primary">
    <div style="margin-right:50px;">
        <hgroup class="title">
            <h1 style="color:white; font-weight:bold; text-align:center; margin-top:50px;">@ViewBag.Title</h1>
        </hgroup>
        <div style="text-align:center; margin-top:10px;">
            <a style="color:white" href="@Url.Action("Login", "Account")">
                Iniciar sesión
            </a>
        </div>
    </div>

    <div style="display:flex; justify-content:space-around; height:100%; vertical-align:central; width:100%;">
        <img src="~/Content/img/JaimeLogo-ancho.png" style="height:600px;" />
    </div>
</body>

@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script type="text/javascript">
    $(document).ready(function () {
        confetti.start(2200, 100, 150);
        Swal.fire({
            title: '¡Todo listo!',
            icon: 'success',
            confirmButtonColor: 'black',
            text: "¡Ya formás parte de JAIME! Comienza una nueva etapa..",
            backdrop: `
                    rgba(9, 206, 45, 0.6)
                    `
        });
    });
</script>

