﻿@using JAIME_Back.Models
@model VerPedidosViewModel
<!-- Page Wrapper -->
<div id="wrapper">
    @{
        Html.RenderPartial("_Sidebar");
    }
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            @{
                Html.RenderPartial("_Topbar");
            }
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Pedidos</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- CANTIDAD DE PEDIDOS HOY -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cantidad de pedidos hoy</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.PedidosHoy</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- VENTAS TOTALES -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Ventas totales</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$@Model.GananciasTotales</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ENVIOS COMPLETADOS SOBRE TOTALES -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Envíos completados / totales</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@Model.EnviosCompletados%</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: @Convert.ToInt32(Model.EnviosCompletados)%" aria-valuenow="@Convert.ToInt32(Model.EnviosCompletados)" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-motorcycle fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PEDIDOS PENDIENTES -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Pedidos pendientes</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.PedidosPendientes</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*FILTROS*@
                <div style="border-radius:5px; border-radius: 0.35rem; box-shadow:0 0 .625em #d9d9d9; margin-bottom:10px;" class="card-header">
                    <h6>Filtrar pedidos</h6>
                    <div style="display:flex; justify-content:space-between;">
                        <div class="form-group mb-4">
                            <div class="datepicker date input-group p-0 shadow-sm">
                                <input type="text" placeholder="Fecha desde" class="form-control" id="filtro-fecha-desde">
                                <div class="input-group-append"><span class="input-group-text px-3"><i class="fa fa-calendar"></i></span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="datepicker date input-group p-0 shadow-sm">
                                <input type="text" placeholder="Fecha hasta" class="form-control" id="filtro-fecha-hasta">
                                <div class="input-group-append"><span class="input-group-text px-3"><i class="fa fa-calendar"></i></span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="input-group p-0 shadow-sm autocomplete" style="border-radius:16px;">
                                <input type="text" placeholder="Cliente" class="form-control" id="filtro-cliente">
                                <div class="input-group-append"><span class="input-group-text px-3"><i class="fa fa-user"></i></span></div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="input-group p-0 shadow-sm" style="border-radius:16px;">
                                <select type="text" class="form-control" id="filtro-estado">
                                    <option selected value="Todos">-Todos-</option>
                                    <option value="@EstadosPedidos.SinConfirmar">@EstadosPedidos.SinConfirmar.Trim()</option>
                                    <option value="@EstadosPedidos.Confirmado">@EstadosPedidos.Confirmado.Trim()</option>
                                    <option value="@EstadosPedidos.EnCamino">@EstadosPedidos.EnCamino.Trim()</option>
                                    <option value="@EstadosPedidos.Retirado">@EstadosPedidos.Retirado.Trim()</option>
                                    <option value="@EstadosPedidos.Entregado">@EstadosPedidos.Entregado.Trim()</option>
                                    <option value="@EstadosPedidos.Cancelado">@EstadosPedidos.Cancelado.Trim()</option>
                                </select>
                                <div class="input-group-append"><span class="input-group-text px-3"><i class="fa fa-box"></i></span></div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content:flex-end">
                        <a id="btnFiltrar" class="btn btn-primary" style="display:flex; justify-content:space-around; margin-right:0%; margin-left:87%; width:10%; color:white; border-radius: 0.35rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;">Filtrar</a>
                        <a id="btnLimpiar" class="btn btn-danger" style="display:flex; justify-content:space-around; color:white; vertical-align:central; align-items:baseline; margin-left:8px;"><span class=" px-1"><i class="fa fa-trash"></i></span></a>
                    </div>
                </div>

                <!-- DataTables Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3" style="background-color:black; background-image:linear-gradient(to bottom, black, gray 95%);">
                        <div style="display:flex; justify-content:space-between; align-items:baseline">
                            <h6 class="m-0 font-weight-bold" style="color:white">Todos los pedidos</h6>
                            <a id="agregar-pedido" class="btn btn-success" href="@Url.Action("Index", "Pedidos")" style="color:white"><i class="fa fa-plus"></i> Agregar pedido</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Horario</th>
                                        <th>Dirección</th>
                                        <th>Teléfono</th>
                                        <th>Medio pago</th>
                                        <th>Precio</th>
                                        <th>Estado</th>
                                        <th><i class="fa fa-info-circle"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var pedido in Model.Pedidos)
                                    {
                                        string color = "";
                                        if (pedido.Estado == EstadosPedidos.Confirmado)
                                        {
                                            color = "#fff2c2";
                                        }
                                        if (pedido.Estado == EstadosPedidos.Cancelado)
                                        {
                                            color = "#ffc2c2";
                                        }
                                        if (pedido.Estado == EstadosPedidos.EnCamino)
                                        {
                                            color = "#c2daff";
                                        }
                                        if (pedido.Estado == EstadosPedidos.Entregado)
                                        {
                                            color = "#c2ffcb";
                                        }
                                        if (pedido.Estado == EstadosPedidos.Retirado)
                                        {
                                            color = "#c2daff";
                                        }
                                        <tr style="background-color:@color">
                                            <td>@Convert.ToDateTime(pedido.Fecha).ToShortDateString()</td>
                                            <td>@pedido.Cliente</td>
                                            <td>@pedido.Horario</td>
                                            <td>@pedido.Direccion</td>
                                            <td>@pedido.Telefono</td>
                                            <td>@pedido.MedioPago</td>
                                            <td>@pedido.Monto</td>
                                            <td>
                                                @pedido.Estado
                                            </td>
                                            <td class="info-pedido" data-id="@pedido.Id" style="vertical-align:central"><i style="color:blue; vertical-align:central" class="fa fa-info-circle"></i></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; JAIME - @DateTime.Now.Year</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">¿Estás seguro que querés cerrar sesión?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="@Url.Action("LogOff", "Account")">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
    $(document).ready(function () {
        //Actualizo cada 30 seg
    setTimeout(() => {
        Swal.fire({
            title: 'Actualizando..',
            showCancelButton: false,
            onBeforeOpen: () => {
                Swal.showLoading()
            }
        });
        location.reload(true);
        swal.close();
    }, 30000);
    //Pre cargo filtros
        $('#filtro-fecha-desde').val('@ViewBag.fechaDesde')
        $('#filtro-fecha-hasta').val('@ViewBag.fechaHasta')
        $('#filtro-cliente').val('@ViewBag.cliente');
        if ('@ViewBag.estado' != "" && '@ViewBag.estado' != null) {
            $('#filtro-estado').val('@ViewBag.estado');
        }

        $('.info-pedido').click(function () {
            let idPedido = $(this).attr('data-id');
            window.location.href = '/Pedidos/DetallePedido?idPedido=' + idPedido;
        });

        $('#btnFiltrar').click(function () {
            if ($('#filtro-fecha-desde').val() == "" && $('#filtro-fecha-hasta').val() != "" || $('#filtro-fecha-desde').val() != "" && $('#filtro-fecha-hasta').val() == "") {
                Swal.fire({
                    title: '¡Filtros incompletos!',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'El rango de fecha tiene un formato incorrecto. Por favor, complete ambas fechas para filtrar por ellas.',
                    backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                });
            }
            else {
                let avanzar = false;
                if ($('#filtro-fecha-desde').val() != "") {
                    if ($('#filtro-fecha-desde').val() <= $('#filtro-fecha-hasta').val()) {
                        avanzar = true;
                    }
                    else {
                        Swal.fire({
                            title: '¡Filtros incorrectos!',
                            icon: 'error',
                            confirmButtonColor: 'black',
                            text: 'La fecha de filtrado inicial es superior a la fecha final. Por favor, asegurate que la fecha inicial sea menor a la final.',
                            backdrop: `
                                    rgba(206, 9, 9, 0.6)
                                    `
                        });
                        avanzar = false;
                    }
                }
                else {
                    avanzar = true;
                }
                if (avanzar) {
                    let fechaDesde = $('#filtro-fecha-desde').val()
                    let fechaHasta = $('#filtro-fecha-hasta').val()
                    let cliente = $('#filtro-cliente').val().trim();
                    let estado = $('#filtro-estado').val().trim();
                    window.location.href = '/Comercio/Index?fechaDesde=' + fechaDesde + '&' + 'fechaHasta=' + fechaHasta + '&' + 'cliente=' + cliente + '&' + 'estado=' + estado;
                }
            }
        });

        $('#btnLimpiar').click(function () {
            window.location.href = "/Comercio/Index";
        });

        $('.datepicker').datepicker({
            clearBtn: true,
            format: "dd/mm/yyyy"
        });

        let options = {};
        options.url = "/Comercio/ObtenerClientes";
        options.type = "POST";
        options.dataType = "json";
        options.contentType = "application/json";
        options.success = function (response) {
            autocomplete(document.getElementById("filtro-cliente"), response.clientes);
        };
        $.ajax(options);
    });
</script>
