﻿@using JAIME_Back.Models
@model List<DeliveryViewModel>

<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            @{
                Html.RenderPartial("_Topbar");
            }
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div style="width:100%; text-align:center; margin-bottom:10px;">
                    <label class="switch" style="margin-right:6px;">
                        <input type="checkbox" id="switch-entregados">
                        <span class="slider round"></span>
                    </label>
                    Mostrar pedidos <b>Entregados</b>
                </div>

                <!-- DataTables Example -->
                <div class="card shadow mb-2">
                    <div class="card-header py-3" style="background-color:black; background-image:linear-gradient(to bottom, black, gray 95%);">
                        <div style="display:flex; justify-content:space-between; align-items:baseline; margin-top:8px; margin-bottom:8px;">
                            <h6 class="m-0 font-weight-bold" style="color:white;">Todos los pedidos</h6>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTableDelivery" width="100%" cellspacing="0" style="text-align:center">
                                <thead>
                                    <tr>
                                        <th>Horario</th>
                                        <th>Estado</th>
                                        <th>Dirección</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        string color = "";
                                        if (item.Estado == EstadosPedidos.Confirmado)
                                        {
                                            color = "#fff2c2";
                                        }
                                        if (item.Estado == EstadosPedidos.Cancelado)
                                        {
                                            color = "#ffc2c2";
                                        }
                                        if (item.Estado == EstadosPedidos.EnCamino)
                                        {
                                            color = "#c2daff";
                                        }
                                        if (item.Estado == EstadosPedidos.Entregado)
                                        {
                                            color = "#c2ffcb";
                                        }
                                        if (item.Estado == EstadosPedidos.Retirado)
                                        {
                                            color = "#c2daff";
                                        }
                                        <tr style="background-color:@color" data-idpedido="@item.Id" data-map="@item.Ubicacion" data-cliente="@item.Cliente" data-direccioncliente="@item.Direccion" data-telefonocliente="@item.Telefono" data-map-comercio="@item.UrlMapaComercio" data-fecha="@Convert.ToDateTime(item.Fecha).ToShortDateString()" data-horario="@item.Horario" data-comercio="@item.Comercio" data-direccioncomercio="@item.DireccionComercio" data-mediopago="@item.MedioPago" data-estadopedido="@item.Estado" data-monto="@item.Monto" class="pedido">
                                            <td>@item.Horario</td>
                                            <td>
                                                @item.Estado
                                            </td>
                                            @{
                                                if (item.Estado == EstadosPedidos.Cancelado || item.Estado == EstadosPedidos.SinConfirmar || item.Estado == EstadosPedidos.Confirmado || item.Estado == EstadosPedidos.EnCamino)
                                                {
                                                    <td>@item.DireccionComercio</td>
                                                }
                                                else
                                                {
                                                    if (item.Estado == EstadosPedidos.Retirado || item.Estado == EstadosPedidos.Entregado)
                                                    {
                                                        <td>@item.Direccion</td>
                                                    }
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <a style="text-align:center" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-black-50"></i>
                    Cerrar sesión
                </a>
            </div>
            <!-- /.container-fluid -->
            
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; JAIME delivery - @DateTime.Now.Year</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">¿Estás seguro que querés cerrar sesión?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="@Url.Action("LogOff", "Account" )">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
        $(document).ready(function () {
            setTimeout(() => {
                Swal.fire({
                    title: 'Actualizando..',
                    showCancelButton: false,
                    onBeforeOpen: () => {
                        Swal.showLoading()
                    }
                });
                location.reload(true);
                swal.close();
            }, 30000);
            if ('@ViewBag.mostrarEntregados' == 'True') {
                $('#switch-entregados').prop("checked", true);
            }
            else {
                $('#switch-entregados').prop("checked", false);
            }
            $('#switch-entregados').click(function () {
                if ($(this).prop('checked')) {
                    window.location.href = '/Delivery/Index?mostrarEntregados=' + true;
                }
                else {
                    window.location.href = '/Delivery/Index?mostrarEntregados=' + false;
                }
            });

            $('.pedido').click(function () {
                let idPedido = $(this).attr('data-idpedido');
                let urlMapa = $(this).attr('data-map');
                if (urlMapa == "") {
                    urlMapa = "Sin mapa asignado.";
                }
                let cliente = $(this).attr('data-cliente');
                let direccionCliente = $(this).attr('data-direccioncliente');
                let telefonoCliente = $(this).attr('data-telefonocliente');
                let urlMapaComercio = $(this).attr('data-map-comercio');
                if (urlMapaComercio == "") {
                    urlMapaComercio = "Sin mapa asignado";
                }
                let fecha = $(this).attr('data-fecha');
                let horario = $(this).attr('data-horario');
                let comercio = $(this).attr('data-comercio');
                let medioPago = $(this).attr('data-mediopago');
                let direccionComercio = $(this).attr('data-direccioncomercio');
                let estadoPedido = $(this).attr('data-estadopedido');
                let monto = $(this).attr('data-monto');
                Swal.fire({
                    title: 'Detalle del pedido',
                    html: "<hr /><div style='display:flex;'><h5 style='text-align:left; margin-left:20px; font-weight:bold; margin-right:0px; padding:0px;'>Dir. comercio: </h5><h5 style='margin-left:7px; padding:0px;'>" + direccionComercio + "</h5></div><div style='display:flex;'><h5 style='text-align:left; margin-left:20px; font-weight:bold; margin-right:0px; padding:0px;'>Comercio: </h5><h5 style='margin-left:7px; padding:0px;'>" + comercio + "</h5></div> <div style='display:flex;'><h5 style='text-align:left; margin-left:20px; font-weight:bold; margin-right:0px; padding:0px;'>Fecha: </h5><h5 style='margin-left:7px; padding:0px;'>" + fecha + "</h5></div>  <div style='display:flex;'><h5 style='text-align:left; margin-left:20px; font-weight:bold; margin-right:0px; padding:0px;'>Hora: </h5><h5 style='margin-left:7px; padding:0px;'>" + horario + "</h5></div>  <div style='display:flex;'><h5 style='text-align:left; margin-left:20px; font-weight:bold; margin-right:0px; padding:0px;'>Cliente: </h5><h5 style='margin-left:7px; padding:0px;'>" + cliente + "</h5></div> <div style='display:flex;'><h5 style='text-align:left; margin-left:20px; font-weight:bold; margin-right:0px; padding:0px;'>Dir. cliente: </h5><h5 style='margin-left:7px; padding:0px;'>" + direccionCliente + "</h5></div> <div style='display:flex;'><h5 style='text-align:left; margin-left:20px; font-weight:bold; margin-right:0px; padding:0px;'>Tel. cliente: </h5><h5 style='margin-left:7px; padding:0px;'>" + telefonoCliente + "</h5></div> <div style='display:flex;'><h5 style='text-align:left; margin-left:20px; font-weight:bold; margin-right:0px; padding:0px;'>Medio pago: </h5><h5 style='margin-left:7px; padding:0px;'>" + medioPago + "</h5></div> <div style='display:flex;'><h5 style='text-align:left; margin-left:20px; font-weight:bold; margin-right:0px; padding:0px;'>Monto: </h5><h5 style='margin-left:7px; padding:0px;'>" + "$" + monto + "</h5></div> <h5 style='text-align:center; font-weight:bold'>Estado del pedido</h5><select id='estado-swal' class='form-control' style='border-radius:18px;'><option value='Confirmado'>Confirmado</option><option value='En Camino'>En Camino</option><option value='Retirado'>Retirado</option><option value='Entregado'>Entregado</option></select><hr />" + "<h5>Mapa del comercio</h5><div style='border-radius:10px;'>" + urlMapaComercio + "</div><h5 style='margin-top:15px;'>Mapa del cliente</h5><div style='border-radius:10px;'>" + urlMapa + "</div>",
                    width: 800
                }).then((result) => {
                    if (result.value) {
                        //Guardo NUEVO estado actualizado por el DELIVERY
                        let options = {};
                        let data = {};
                        data.idPedido = idPedido;
                        data.estadoPedido = $('#estado-swal').val();
                        options.url = "/BackOffice/GuardarEstadoPedido";
                        options.type = "POST";
                        options.data = JSON.stringify({ "data": data });
                        options.dataType = "json";
                        options.contentType = "application/json";
                        options.success = function (response) {
                            location.reload();
                        };
                        options.error = function (err) {
                            Swal.fire({
                                title: '¡Ups! Ha ocurrido un error..',
                                icon: 'error',
                                confirmButtonColor: 'black',
                                text: 'No se pudo guardar la url del mapa. Intentá nuevamente más tarde',
                                backdrop: `
                                rgba(206, 9, 9, 0.6)
                                `
                            });
                        };
                        $.ajax(options);
                    }
                });
                $('#estado-swal').val(estadoPedido);
                if ($('#estado-swal').val() == '@EstadosPedidos.Entregado') {
                    $('#estado-swal').attr('disabled', 'disabled');
                }
            });

            $('.drop-pedidos').change(function () {
                let options = {};
                let data = {};
                data.idPedido = $(this).attr('id').split('-')[1];
                data.estadoPedido = $(this).val();
                options.url = "/BackOffice/GuardarEstadoPedido";
                options.type = "POST";
                options.data = JSON.stringify({ "data": data });
                options.dataType = "json";
                options.contentType = "application/json";
                options.success = function (response) {
                    location.reload();
                };
                options.error = function (err) {
                    Swal.fire({
                        title: '¡Ups! Ha ocurrido un error..',
                        icon: 'error',
                        confirmButtonColor: 'black',
                        text: 'No se pudo guardar la url del mapa. Intentá nuevamente más tarde',
                        backdrop: `
                                rgba(206, 9, 9, 0.6)
                                `
                    });
                };
                $.ajax(options);
            });

            // INITIALIZE DATEPICKER PLUGIN
            $('.datepicker').datepicker({
                clearBtn: true,
                format: "dd/mm/yyyy"
            });
        });
</script>
