﻿@using JAIME_Back.Models;
@model PedidosViewModel
<!-- Page Wrapper -->
<div id="wrapper">
    @{
        if (User.Identity.ObtenerTipoUsuario() == TiposUsuarios.Administrador || User.Identity.ObtenerTipoUsuario() == TiposUsuarios.Coordinador || User.Identity.ObtenerTipoUsuario() == TiposUsuarios.Comercio)
        {
            Html.RenderPartial("_Sidebar");
        }
    }
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            @{
                Html.RenderPartial("_Topbar");
            }
            <!-- COMIENZO CONTENIDO DINAMICO -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-bottom:0px">
                    <h1 class="h3 mb-0 text-gray-800" style="margin-bottom:0px;"><i id="btnVolver" style="color:black; margin-right:10px; margin-left:10px;" class="fa fa-arrow-circle-left"></i>Detalle del pedido</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generar reporte</a>
                </div>

                <!--PEGADO DE ONIX-->
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <!--Panel contenedor-->
                        <div class="single category" style="padding:12px;">
                            <div class="row">
                                <div class="col-sm-9 col-md-9">
                                    <div class="card">
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <!--FORMULARIO DE UN PEDIDO-->
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Fecha</label>
                                                        <h4 style="margin-bottom:12px; font-weight:bold">@Convert.ToDateTime(Model.Fecha).ToShortDateString()</h4>
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Cliente</label>
                                                        <h4 style="margin-bottom:12px; font-weight:bold">@Model.Cliente</h4>
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Medio de pago</label>
                                                        <h4 style="margin-bottom:12px; font-weight:bold">@Model.MedioPago</h4>
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Productos</label>
                                                        <h4 style="margin-bottom:12px; font-weight:bold">@Model.Producto</h4>
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Monto</label>
                                                        <h4 style="margin-bottom:12px; font-weight:bold">$@Model.Monto</h4>
                                                        <label class="font-weight-light" style="margin-bottom:3px; display:flex; align-items:flex-start">Comentario</label>
                                                        @{
                                                            if (Model.Comentario == null)
                                                            {
                                                                <h4 style="font-weight:bold; margin-bottom:12px">Sin comentarios</h4>
                                                            }
                                                            else
                                                            {
                                                                <h4 style="margin-bottom:12px; font-weight:bold">@Model.Comentario</h4>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6" style="margin-bottom:5px;">
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Horario</label>
                                                        <h4 style="margin-bottom:12px; font-weight:bold">@Model.Horario</h4>
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Delivery asignado</label>
                                                        <h4 style="margin-bottom:12px; font-weight:bold">@Model.Delivery</h4>
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Teléfono</label>
                                                        <h4 style="margin-bottom:12px; font-weight:bold">@Model.Telefono</h4>
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Estado</label>
                                                        <h4 style="margin-bottom:12px; font-weight:bold">@Model.Estado</h4>
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Comercio</label>
                                                        <h4 style="margin-bottom:12px; font-weight:bold">@Model.Comercio</h4>
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Dirección</label>
                                                        <h4 style="margin-bottom:12px; font-weight:bold">@Model.Direccion</h4>
                                                    </div>
                                                    <div class="col-lg-12" style="margin-bottom:0px;">
                                                        <hr />
                                                        <label class="font-weight-light" style="margin-bottom:0px; display:flex; align-items:flex-start">Ubicación del cliente</label>
                                                        @{
                                                            if (Model.Ubicacion == null)
                                                            {
                                                                <h4 style="margin-bottom:12px; font-weight:bold">Sin mapa cargado aún.</h4>
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw(Server.HtmlDecode(Model.Ubicacion))
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <!--FIN PEDIDO-->
                                            @*<div style="display:flex; justify-content:space-between">
                                                    <div style="justify-content:flex-end">
                                                        <a class="btn btn-success" id="btnGuardarPedido" style="margin-top:15px; color:white">Guardar pedido</a>
                                                    </div>
                                                </div>*@

                                        </div>
                                        <!-- End Card Body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; JAIME - @DateTime.Now</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">¿Estás seguro que querés cerrar sesión?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="@Url.Action("LogOff", "Account")">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
        $(document).ready(function () {

            $('#btnVolver').click(function () {
                if ('@User.Identity.ObtenerTipoUsuario()' == '@TiposUsuarios.Administrador') {
                    window.location.href = '/BackOffice/Index';
                } else {
                    if ('@User.Identity.ObtenerTipoUsuario()' == '@TiposUsuarios.Comercio') {
                        window.location.href = '/Comercio/Index';
                    } else {
                        if ('@User.Identity.ObtenerTipoUsuario()' == '@TiposUsuarios.Coordinador') {
                            window.location.href = '/Coordinador/Index';
                        }
                    }
                }
            });

        //////CARGO HORARIOS DEL COMERCIO CUANDO SELECCIONA EL DIA//////
        $('#fecha-pedido').change(function () {
            $('#horario-pedido').empty();
            var options = {};
            let HorariosCargar = [];
            let date = new Date($('#fecha-pedido').val());
            let dia = date.getDay(); //dia de la semana (0 a 6, lunes es el 0)
            options.url = "/Comercio/ObtenerHorariosPorDia";
            options.type = "POST";
            options.data = JSON.stringify({ "dia": dia });
            options.dataType = "json";
            options.contentType = "application/json";
            options.success = function (response) {
                HorariosCargar = response.horariosDisponibles;
                HorariosCargar.forEach(function (campo, index) {
                    $('#horario-pedido').append('<option>' + campo + '</option>');
                });
            };
            options.error = function (err) {
                Swal.fire({
                    title: '¡Ups! Ha ocurrido un error..',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'No se pudieron obtener los horarios del comercio. Intentá nuevamente más tarde',
                    backdrop: `
            rgba(206, 9, 9, 0.6)
            `
                });
            };
            $.ajax(options);
        });

        $('#btnGuardarPedido').click(function () {
            if ($('#fecha-pedido').val() != "" && $('#horario-pedido').val() != null && $('#fecha-pedido').val() != "" && $('#calle-pedido').val().trim() != "" && $('#callenro-pedido').val().trim() != "" && $('#codarea-pedido').val().trim() != "" && $('#telefono-pedido').val().trim() != "" && $('#producto-pedido').val().trim() != "" && $('#mediopago-pedido').val() != null && $('#precio-pedido').val().trim() != "") {
                let options = {};
                let data = {};
                data.Comercio = '@User.Identity.Name'
                data.Fecha = $('#fecha-pedido').val();
                data.Horario = $('#horario-pedido').val();
                data.Direccion = $('#calle-pedido').val().trim() + " " + $('#callenro-pedido').val().trim() + " " + $('#calledepto-pedido').val().trim()
                data.Estado = '@EstadosPedidos.SinConfirmar'
                data.idDelivery = null;
                data.MedioPago = $('#mediopago-pedido').val();
                data.Monto = $('#precio-pedido').val();
                data.Ubicacion = null;
                data.Comentario = $('#comentario-pedido').val().trim();
                data.Cliente = $('#cliente-pedido').val().trim();
                data.Telefono = $('#codarea-pedido').val() + $('#telefono-pedido').val();
                data.Producto = $('#producto-pedido').val();
                options.url = "/Pedidos/AgregarPedido";
                options.type = "POST";
                options.data = JSON.stringify({ "data": data });
                options.dataType = "json";
                options.contentType = "application/json";
                options.success = function (response) {
                    Swal.fire({
                        title: '¡Pedido guardado correctamente!',
                        icon: 'success',
                        confirmButtonColor: 'black',
                        text: response.message,
                        backdrop: `
                                    rgba(9, 206, 45, 0.6)
                                    `
                    });
                };
                options.error = function (err) {
                    Swal.fire({
                        title: '¡Ups! Ha ocurrido un error..',
                        icon: 'error',
                        confirmButtonColor: 'black',
                        text: 'No se pudieron obtener los horarios del comercio. Intentá nuevamente más tarde',
                        backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                    });
                };
                $.ajax(options);
            }
            else {
                Swal.fire({
                    title: '¡Campos incompletos!',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'Complete todos los campos requeridos para continuar',
                    backdrop: `
            rgba(206, 9, 9, 0.6)
            `
                });
            }
        });

        /*An array containing all the country names in the world:*/
        //var countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Anguilla", "Antigua & Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia & Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central Arfrican Republic", "Chad", "Chile", "China", "Colombia", "Congo", "Cook Islands", "Costa Rica", "Cote D Ivoire", "Croatia", "Cuba", "Curacao", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Polynesia", "French West Indies", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauro", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "Norway", "Oman", "Pakistan", "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Pierre & Miquelon", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "St Kitts & Nevis", "St Lucia", "St Vincent", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor L'Este", "Togo", "Tonga", "Trinidad & Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks & Caicos", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States of America", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Virgin Islands (US)", "Yemen", "Zambia", "Zimbabwe"];
        let options = {};
        options.url = "/Comercio/ObtenerClientes";
        options.type = "POST";
        options.dataType = "json";
        options.contentType = "application/json";
        options.success = function (response) {
            autocomplete(document.getElementById("cliente-pedido"), response.clientes);
        };
        $.ajax(options);

        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    });
</script>
