﻿@using JAIME_Back.Models;
@model AgregarPedidoViewModel
<!-- Page Wrapper -->
<div id="wrapper">
    @{
        Html.RenderPartial("_Sidebar");
    }
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            @{
                Html.RenderPartial("_Topbar");
            }
            <!-- COMIENZO CONTENIDO DINAMICO -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Pedidos</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generar reporte</a>
                </div>

                <!--PEGADO DE ONIX-->
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <!--Panel contenedor-->
                        <div class="single category" style="padding:12px;">
                            <div class="row">
                                <div class="col-sm-9 col-md-9">
                                    <div class="card">
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <!--FORMULARIO DE UN PEDIDO-->
                                            <div class="form-group">
                                                <h5>Cargar un pedido</h5>
                                                <hr />
                                                <div class="row">
                                                    <div class="col-sm-6 col-lg-6">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Cliente</label>
                                                        <div class="autocomplete">
                                                            <input type="text" class="form-control" id="cliente-pedido" placeholder="Cliente" style="margin-bottom:5px; border: solid 0.05rem #cb2020;">
                                                        </div>
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Dirección</label>
                                                        <div style="margin-bottom:5px; display: flex; justify-content:space-around">
                                                            <input type="text" class="form-control" id="calle-pedido" placeholder="Dirección completa" style=" border: solid 0.05rem #cb2020;">
                                                            <input type="text" style="width:80px;" class="form-control" id="calledepto-pedido" placeholder="Depto.">
                                                        </div>
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Teléfono</label>
                                                        <div class="row" style="margin-bottom:5px;">
                                                            <div class="col-lg-4" style="padding-right:0px">
                                                                <input type="number" class="form-control" id="codarea-pedido" placeholder="Cod. Area" onKeyPress="return soloNumeros(event)" style=" border: solid 0.05rem #cb2020;">
                                                            </div>
                                                            <div class="col-lg-8" style="padding-left:0px">
                                                                <input type="number" class="form-control" id="telefono-pedido" placeholder="Teléfono" onKeyPress="return soloNumeros(event)" style=" border: solid 0.05rem #cb2020;">
                                                            </div>
                                                        </div>
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Medio de pago</label>
                                                        <select class="form-control" id="mediopago-pedido" style="margin-bottom:5px; border: solid 0.05rem #cb2020;">
                                                            @{
                                                                foreach (var item in Model.ListaMediosPago)
                                                                {
                                                                    <option>@item.MedioPago</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 col-lg-6" style="margin-bottom:5px;">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Fecha</label>
                                                        <input id="fecha-pedido" type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control" style="margin-bottom:5px; border: solid 0.05rem #cb2020;">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Horario</label>
                                                        <select class="form-control" id="horario-pedido" style="margin-bottom:5px;  border: solid 0.05rem #cb2020;">
                                                            @*<option value="" selected>-Seleccione fecha-</option>*@
                                                        </select>
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Productos</label>
                                                        <input type="text" class="form-control" id="producto-pedido" placeholder="Describa productos" style="margin-bottom:5px; border: solid 0.05rem #cb2020;">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Precio (con envío)</label>
                                                        <input type="number" class="form-control" id="precio-pedido" placeholder="Precio" onKeyPress="return soloNumeros(event)" style="margin-bottom:5px; border: solid 0.05rem #cb2020;">
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <label class="u-font-size-90" style="margin-bottom:3px; display:inline-block">Comentario (opcional)</label>
                                                        <textarea type="text" rows="3" class="form-control" id="comentario-pedido" placeholder="Comentario"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--FIN PEDIDO-->
                                            <div style="display:flex; justify-content:space-between">
                                                <div style="justify-content:flex-end">
                                                    <a class="btn btn-success" id="btnGuardarPedido" style="margin-top:15px; color:white">Guardar pedido</a>
                                                </div>
                                                @*<div>
                                                    <a class="btn btn-outline-warning" id="btnGuardarBorrador" style="margin-top:15px; color:black">Guardar borrador</a>
                                                </div>
                                                <div>
                                                    <a class="btn btn-outline-danger" id="btnBorrarCampos" style="margin-top:15px; color:black">Borrar campos</a>
                                                </div>*@
                                            </div>

                                        </div>
                                        <!-- End Card Body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2019</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">¿Estás seguro que querés cerrar sesión?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary" href="@Url.Action("LogOff", "Account")">Cerrar sesión</a>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Content/vendor/jquery/jquery.min.js")
<script>
    $(document).ready(function () {
        ///CARGO FECHA ACTUAL POR DEFECTO CON SUS HORARIOS PERMITIDOS///
        $('#fecha-pedido').val('@DateTime.Today.ToString("yyyy-MM-dd")');
        ObtenerHorarios();

        ///CARGO DATOS PREDETERMINADOS DE UN CLIENTE LUEGO DE ESCRIBIRLO///
        $('#cliente-pedido').blur(function () {
            Swal.fire({
                title: 'Buscando cliente..',
                showCancelButton: false,
                onBeforeOpen: () => {
                    Swal.showLoading()
                }
            });
            var options = {};
            let cli = $(this).val();
            options.url = "/Comercio/ObtenerClientePorNombre";
            options.type = "POST";
            options.data = JSON.stringify({ "cli": cli });
            options.dataType = "json";
            options.contentType = "application/json";
            options.success = function (response) {
                //cargar direccion y telefono del cliente
                if (response != undefined) {
                    let dire = response.direccion.split("-");
                    $('#calle-pedido').val(dire[0]);
                    if (dire.length > 1) { //tiene depto tambien
                        $('#calledepto-pedido').val(dire[1]);
                    }
                    let tel = response.telefono.split("-");
                    $('#codarea-pedido').val(tel[0]);
                    $('#telefono-pedido').val(tel[1]);
                }
                swal.close();
            };
            options.error = function (err) {
                Swal.fire({
                    title: '¡Ups! Ha ocurrido un error..',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'No se pudieron obtener los horarios del comercio. Intentá nuevamente más tarde',
                    backdrop: `
                        rgba(206, 9, 9, 0.6)
                        `
                });
            };
            $.ajax(options);
        });

        //////CARGO HORARIOS DEL COMERCIO CUANDO SELECCIONA EL DIA//////
        $('#fecha-pedido').change(function () {
            ObtenerHorarios();
        });

        function ObtenerHorarios() {
            $('#horario-pedido').empty();
            var options = {};
            let data = {};
            let HorariosCargar = [];
            let date = new Date($('#fecha-pedido').val());
            let hoy = $('#fecha-pedido').val();
            let dia = date.getDay(); //dia de la semana (0 a 6, lunes es el 0)
            data.Fecha = hoy;
            data.Dia = dia;
            options.url = "/Comercio/ObtenerHorariosPorDia";
            options.type = "POST";
            options.data = JSON.stringify({ "data": data });
            options.dataType = "json";
            options.contentType = "application/json";
            options.success = function (response) {
                if (response.horariosDisponibles != undefined) {
                    HorariosCargar = response.horariosDisponibles;
                    HorariosCargar.forEach(function (campo, index) {
                        $('#horario-pedido').append('<option>' + campo + '</option>');
                    });
                    if (HorariosCargar.length == 0) {
                        $('#horario-pedido').append('<option selected disabled>La fecha no tiene horarios disponibles</option>');
                    }
                } else {
                    Swal.fire({
                        title: '¡Ups! Ha ocurrido un error..',
                        icon: 'error',
                        confirmButtonColor: 'black',
                        text: 'No se pudieron obtener los horarios en la fecha establecida. Intentá nuevamente más tarde',
                        backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                    });
                }
            };
            options.error = function (err) {
                Swal.fire({
                    title: '¡Ups! Ha ocurrido un error..',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'No se pudieron obtener los horarios del comercio. Intentá nuevamente más tarde',
                    backdrop: `
                        rgba(206, 9, 9, 0.6)
                        `
                });
            };
            $.ajax(options);
        };

        $('#btnGuardarPedido').click(function () {
            if ($('#fecha-pedido').val() != "" && $('#horario-pedido').val() != null && $('#fecha-pedido').val() != "" && $('#calle-pedido').val().trim() != ""  && $('#codarea-pedido').val().trim() != "" && $('#telefono-pedido').val().trim() != "" && $('#producto-pedido').val().trim() != "" && $('#mediopago-pedido').val() != null && $('#precio-pedido').val().trim() != "" && $('#cliente-pedido').val().trim() != "") {
                Swal.fire({
                    title: 'Guardando pedido..',
                    showCancelButton: false,
                    onBeforeOpen: () => {
                        Swal.showLoading()
                    }
                });
                let options = {};
                let data = {};
                data.Comercio = '@User.Identity.Name'
                data.Fecha = $('#fecha-pedido').val();
                data.Horario = $('#horario-pedido').val();
                if ($('#calledepto-pedido').val().trim() != "") {
                    data.Direccion = $('#calle-pedido').val().trim() + "-" + $('#calledepto-pedido').val().trim()
                }
                else {
                    data.Direccion = $('#calle-pedido').val().trim();
                }
                data.Estado = '@EstadosPedidos.SinConfirmar'
                data.idDelivery = null;
                data.MedioPago = $('#mediopago-pedido').val();
                data.Monto = $('#precio-pedido').val();
                data.Ubicacion = null;
                data.Comentario = $('#comentario-pedido').val().trim();
                data.Cliente = $('#cliente-pedido').val().trim();
                data.Telefono = $('#codarea-pedido').val() + "-" + $('#telefono-pedido').val();
                data.Producto = $('#producto-pedido').val();
                options.url = "/Pedidos/AgregarPedido";
                options.type = "POST";
                options.data = JSON.stringify({ "data": data });
                options.dataType = "json";
                options.contentType = "application/json";
                options.success = function (response) {
                    swal.close();
                    Swal.fire({
                        title: '¡Pedido guardado correctamente!',
                        icon: 'success',
                        confirmButtonColor: 'black',
                        text: response.message,
                        backdrop: `
                                    rgba(9, 206, 45, 0.6)
                                    `
                    }).then(() => {
                        window.location.href = "/Comercio/Index";
                    });
                };
                options.error = function (err) {
                    swal.close();
                    Swal.fire({
                        title: '¡Ups! Ha ocurrido un error..',
                        icon: 'error',
                        confirmButtonColor: 'black',
                        text: 'No se pudieron obtener los horarios del comercio. Intentá nuevamente más tarde',
                        backdrop: `
                            rgba(206, 9, 9, 0.6)
                            `
                    });
                };
                $.ajax(options);
            }
            else {
                Swal.fire({
                    title: '¡Campos incompletos!',
                    icon: 'error',
                    confirmButtonColor: 'black',
                    text: 'Complete todos los campos requeridos para continuar',
                    backdrop: `
                    rgba(206, 9, 9, 0.6)
                    `
                });
            }
        });

        /*An array containing all the country names in the world:*/
        //var countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Anguilla", "Antigua & Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia & Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central Arfrican Republic", "Chad", "Chile", "China", "Colombia", "Congo", "Cook Islands", "Costa Rica", "Cote D Ivoire", "Croatia", "Cuba", "Curacao", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Polynesia", "French West Indies", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauro", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "Norway", "Oman", "Pakistan", "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Pierre & Miquelon", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "St Kitts & Nevis", "St Lucia", "St Vincent", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor L'Este", "Togo", "Tonga", "Trinidad & Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks & Caicos", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States of America", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Virgin Islands (US)", "Yemen", "Zambia", "Zimbabwe"];
        let options = {};
        options.url = "/Comercio/ObtenerClientes";
        options.type = "POST";
        options.dataType = "json";
        options.contentType = "application/json";
        options.success = function (response) {
            autocomplete(document.getElementById("cliente-pedido"), response.clientes);
        };
        $.ajax(options);

        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
        // INITIALIZE DATEPICKER PLUGIN
        $('.datepicker').datepicker({
            clearBtn: true,
            format: "dd/mm/yyyy"
        });
    });
</script>
